@using System.Data;
@{
    ViewBag.Title = "SeminarUserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script type="text/javascript" language="javascript">
        $(function () {

            API.Design.datepicker.init();
            var editor = $("#SeminarDetails");
            var listTmpl = $("#SeminarTmpl");
            var listTable = $("#SeminalTable");

            var listSeminar = function (e) {
                var container = $("tbody", listTable);
                var param = API.Functions.gatherData($("#Filter"));
                if (param.DateFrom !== null && param.DateFrom != '') {
                    param.DateFrom = $.datepicker.formatDate(API.Design.datepicker.isoDateFormat, $.datepicker.parseDate($.datepicker.regional['hr'].dateFormat, param.DateFrom));
                }
                if (param.DateTo !== null && param.DateTo != '') {
                    param.DateTo = $.datepicker.formatDate(API.Design.datepicker.isoDateFormat, $.datepicker.parseDate($.datepicker.regional['hr'].dateFormat, param.DateTo));
                }
                API.Ajax.PostJson(API.Communication.url + "admin/SeminarUserList", param, {}, null,
                    function (ctx, data) {
                        container.html("");
                        $(data.List).each(function (n, i) {
                            var item = this;
                            if (item.Active === true) {
                                item.ActiveClass = "active";
                            } else {
                                item.ActiveClass = "inactive";
                            }
                            if (item.dateOfBirth !== null && item.dateOfBirth != '') {
                                item.dateOfBirth = $.datepicker.formatDate($.datepicker.regional['hr'].dateFormat, $.datepicker.parseDate(API.Design.datepicker.isoDateFormat, item.dateOfBirth));
                            }
                            if (item.dateCreated !== null && item.dateCreated != '') {
                                item.dateCreated = $.datepicker.formatDate($.datepicker.regional['hr'].dateFormat, $.datepicker.parseDate(API.Design.datepicker.isoDateFormat, item.dateCreated));
                            }
                            container.append(listTmpl.tmpl(item));
                        });

                        $(".view-icon.action",container).click(showDetails);

                    }, null, function () {
                        //$(".loader").hide();
                    });
            };

            var showDetails = function (e) {
                var userOIB = $(this).attr("userOIB");
                API.Ajax.PostJson(API.Communication.url + "admin/seminaruserdetails", { oib: userOIB }, {}, null,
                    function (ctx, data) {

                        if (data.Data.dateOfBirth !== null && data.Data.dateOfBirth != '') {
                            data.Data.dateOfBirth = $.datepicker.formatDate($.datepicker.regional['hr'].dateFormat, $.datepicker.parseDate(API.Design.datepicker.isoDateFormat, data.Data.dateOfBirth));
                        }

                        var chunk = $("#SeminarDetailsTmpl").tmpl(data.Data);
                        $("#SeminarRegistrationDetailsModal").html(chunk).dialog("open");


                    }, null, function () {
                        //$(".loader").hide();
                    });

            };

            $("#Filter .refresh").click(listSeminar);
            $(".datatable .view-icon.action").click(showDetails);

        });
    
    
    </script>
    <script id="SeminarTmpl" type="javascript/tmpl">
        <tr>
            <td><span class="view-icon action" userOIB="${userOIB}"></span></td>
            <td>${firstName} ${lastName}</td>
            <td>${email}</td>
            <td>${address}, ${ZIP} ${city}</td>
            <td>${mobile}</td>
            <td>${companyName}</td>
            <td>${dateCreated}</td>
        </tr>
    </script>
    <script id="SeminarDetailsTmpl1" type="javascript/tmpl">
        <tr>
            <td><span class="edit-icon action" tecajid="${SeminarId}"></span></td>
            <td>${Title}</td>
            <td>${DateFrom}</td>
            <td>${DateTo}</td>
            <td><span class="active-icon ${ActiveClass}"></span></td>
            
        </tr>
    </script>

    <script id="SeminarDetailsTmpl" type="javascript/tmpl">
        <div>
	        <div class="form-box personal">
		        <h2>Osobni podaci</h2>
		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="userOIB">OIB polaznika:</label>
			        </div>
			        <div class="cell value-cell">
				        ${userOIB}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="firstName">Ime:</label>
			        </div>
			        <div class="cell value-cell">
				        ${firstName}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="lastName">Prezime:</label>
			        </div>
			        <div class="cell value-cell">
				        ${lastName}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="academicDegree">Akademski stupanj:</label>
			        </div>
			        <div class="cell value-cell">
				        ${academicDegree}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="academicTitle">Akademski stručni naziv:</label>
			        </div>
			        <div class="cell value-cell">
				        ${academicTitle}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="dateOfBirth">Datum rođenja:</label>
			        </div>
			        <div class="cell value-cell">
				        ${dateOfBirth}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="placeOfBirth">Mjesto rođenja:</label>
			        </div>
			        <div class="cell value-cell">
				        ${placeOfBirth}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="address">Kućna adresa:</label>
			        </div>
			        <div class="cell value-cell">
				        ${address}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="ZIP">Poštanski broj:</label>
			        </div>
			        <div class="cell value-cell">
				        ${ZIP}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="city">Grad:</label>
			        </div>
			        <div class="cell value-cell">
				        ${city}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="email">E-mail adresa:</label>
			        </div>
			        <div class="cell value-cell">
				        ${email}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="telephone">Telefon privatni:</label>
			        </div>
			        <div class="cell value-cell">
				        ${telephone}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="mobile">Mobitel privatni:</label>
			        </div>
			        <div class="cell value-cell">
				        ${mobile}
			        </div>
		        </div>
	        </div>
	        <div class="form-box company">
		        <h2>Podaci o tvrtki</h2>
		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyName">Naziv tvrtke:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyName}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyPhone">Telefon tvrtke:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyPhone}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyMob">Mobitel tvrtke:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyMob}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyFax">Fax tvrtke:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyFax}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyAddress">Adresa tvrtke:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyAddress}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyZIP">Poštanski broj:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyZIP}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyCity">Grad tvrtke:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyCity}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyOIB">OIB tvrtke:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyOIB}
			        </div>
		        </div>

		        <div class="form-row">
			        <div class="cell label-cell">
				        <label for="companyWorkPosition">Radno mjesto:</label>
			        </div>
			        <div class="cell value-cell">
				        ${companyWorkPosition}
			        </div>
		        </div>

	        </div>
        </div>
        <div class="clear"></div>
    
    </script>
}

<h2>Pretraga prijava za seminar</h2>

<div class="filter-wrapper">
    <ul id="Filter" class="filter">
        <li>
            <label for="SeminarId">Seminar:</label>
            <select id="SeminarId">
                <option value="">Svi seminari</option>
                @foreach (DataRow row in ViewBag.TecajList.Rows)
                {
                    <option value="@row["Id"]">@row["Title"]</option>    
                }
            </select>
        </li>
        <li>
            <label for="SeminarId">Datum od:</label>
            <input type="text" id="DateFrom" class="date-field"/>
        </li>
        <li>
            <label for="SeminarId">Datum do:</label>
            <input type="text" id="DateTo" class="date-field"/>
        </li>
        <li>
            <span class="button refresh">Osvježi</span>
        </li>
    </ul>
</div>
<div class="table-wrapper">
    <table id="SeminalTable" class="datatable">
        <thead>
            <tr>
                <th></th>
                <th>Ime i prezime</th>
                <th>E-mail</th>
                <th>Adresa</th>
                <th>Mobitel</th>
                <th>Tvrtka</th>
                <th>Prijava</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

<div id="SeminarRegistrationDetailsModal" class="modal" useWidth="true"></div>