@{
    ViewBag.Title = "NoAccess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Nemate pristup ovom sadržaju</h2>

<p>Vaš račun nema pravo pristupa na ove stranice. Molimo obratite se vašem administratoru.</p>
