/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


/*******************************************************************/
/* FADE MESSAGE BOX */
.no-title-bar {border-width:2px;}
.no-title-bar .ui-dialog-titlebar{display:none;}
.no-title-bar.popup-shadow-border{border-width:1px;
               -moz-box-shadow:5px 5px 5px #d1cdc4; -webkit-box-shadow:5px 5px 5px #d1cdc4; box-shadow:5px 5px 5px #d1cdc4;}
.no-title-bar.no-border{border:none;background:transparent;}
#fade-message-box{font-size:1.2em;padding:10px;line-height:2.2em;text-align:center;}

#loader-box{padding:30px 40px 30px 60px;font-size:1.1em;background:#fff url(../img/ajax-loader-transparent.gif) 20px 50% no-repeat;color:#666;text-align:center;}

/* CONFIRM BOX (dialog) */
#confirm-box{font-size:1.2em;line-height:1.3em;}
.confirm-box.ui-dialog, .select-box.ui-dialog{font-size:1em;line-height:1.3em;}
.confirm-box.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset, .select-box.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:none; text-align:center;}
.confirm-box.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button, .select-box.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button{margin: 5px 10px;font-size:1.2em !important;}

.confirm-box.ui-dialog .button.ok{ font-size: 14px; color: #ffffff; height: 36px; border: none; background: #2c99ce; cursor: pointer;}
.confirm-box.ui-dialog .button.cancel{ font-size: 14px; color: #ffffff; height: 36px; border: none; background: #666; cursor: pointer;}
.confirm-box.ui-dialog .button .ui-button-text{padding-top:0;padding-bottom:0;}
.confirm-box.ui-dialog .ui-dialog-buttonpane{border:none;}

.dialog-title { font-weight: bold; margin-bottom:5px }
.dialog-content { margin-top: 10px; margin-bottom: 5px; }
.dialog-content-task { margin-top: 10px; margin-bottom: 5px; font-size:12px; }
.dialog-content-task { margin-left: 11px; }
.dialog-content-task label , .popup_form label {  width: 90px; margin: 12px 0; color: #404041;}
.dialog-content-task label.medium , .popup_form label.medium {  width: 150px; margin: 12px 0; color: #404041;display: inline-block;}
.dialog-content-task label.inline, .popup_form label.inline { display: inline-block; }

.dialog-content-task label.solo, .popup_form label.solo { display: block;}
.dialog-content-task input.small, .popup_form input.small { width: 100px;}
.dialog-content-task input.mini, .popup_form input.mini { width: 50px;}
.dialog-content-task input.medium, .popup_form input.medium { width: 180px;}
.dialog-content-task input.big { width: 435px;}
.dialog-content-task textarea.big { width: 275px;}
.dialog-content-task .form_container,.popup_form .form_container { float: left; display: table; margin: 10px 10px 10px 30px}
.dialog-content-task .form_row,.popup_form .form_row { display: table-row; margin: 10px 10px;}


.action-bar{margin:20px 0px;}

.button.save{background:rgb(35, 119, 23);color:#fff;}
.button.add{background: #5C87B2;color:#fff;}

table.upitnik.table-editor{}

.upitnik.table-editor td{text-align:center;padding:5px;border:solid 1px #e8eef4;}
.upitnik.table-editor .header.big{font-size:18px;font-weight:bold;}
.upitnik.table-editor .header.small{font-size:16px;}
.upitnik.table-editor .header td{border:none;border-collapse:collapse;color:#39c;}

.upitnik.table-editor td.left{text-align:left;}
.upitnik.table-editor td.cell{border:solid 1px #999;border-right:none;}
.upitnik.table-editor td.cell.last{border-right:solid 1px #999;}
.upitnik.table-editor td.cell.split{border:none;}
.upitnik.table-editor td.average{width:50px;}
.upitnik.table-editor td.input-value.cell{width:100px;}
.upitnik.table-editor td.grouped{border-bottom:solid 1px #333;}

.upitnik.table-editor .oznaka{width:20px;}
.upitnik.table-editor td.naziv{width:450px;}
.upitnik.table-editor td.prosjek.cell{width:50px;}
.upitnik.table-editor input.input-data{width:30px;text-align:center;}

