@{
    ViewBag.Title = "Zahtjev za aktivaciju računa";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>Aktivacija računa</h2>

<p>Vaš zahtjev za aktivaciju računa je poslan na Hrvatsku udrugu za organizaciju građenja.<br />
 Nakon što Udruga aktivira vaš račun dobit ćete obavijest e-mailom i moći ćete se prijaviti na vaš račun.
 <br /><br /><br />
 Hvala na strpljenju.</p>
