

@using EFQMWeb.Common.Util;
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title= "Poslovna izvrsnost - prijava";
}

@section Scripts{   
    <script language="javascript" type="text/javascript">

        $(function () {



            var success = function (ctx, data) {
                if(ctx.action=="login"){
                    window.location= "@Url.Action("Index", "Home")";
                }else{
                    alert("Poslan je Vaš zahtjev za registraciju. Potvrdite svoje podatke preko e-maila koji vam je upravo poslan.");
                }
            };

            var error = function (context, jqXHR, textStatus, response) {
                if(context.action=="login"){
                    if(response.Status==2){
                        API.Design.fadeMessage.open("Vaš korisnički račun još nije aktiviran!", 6);
                    }
                    else{
                        API.Design.fadeMessage.open("Neispravni podaci!", 3);
                    }
                    
                }else if(context.action=="register"){
                    if(response.Status==2){
                        API.Design.fadeMessage.open("Već postoji korisnik sa istim e-mailom i zaporkom", 3);
                    }
                    else{
                        API.Design.fadeMessage.open("Greška", 3);
                    }
                }
            };

            var complete = function () {

            };

            $(".button.login").click(function (e) {
                var container = $(this).parents(".form-container:first");
                if(!API.Functions.checkRequired(container)){
                    API.Design.fadeMessage.open("Molimo upišite email i zaporku");
                    return;
                }
                API.Ajax.PostJson(API.Communication.url + "account/logon", API.Functions.gatherData(container), {action: "login"}, null, success, error, complete);
            });

            $(".button.register").click(function (e) {

                var container = $(this).parents(".form-container:first");
                if(!API.Functions.checkRequired(container)){
                    API.Design.fadeMessage.open("Molimo popunite obavezna polja");
                    return;
                }
                var data =API.Functions.gatherData(container);
                
                if(data.Password!= data.Password2){
                    API.Design.fadeMessage.open("Zaporka i ponovljena zaporka nisu iste!");
                    return;
                }
                
                
                API.Ajax.PostJson(API.Communication.url + "account/register", data, {action: "register"}, null, success, error, complete);
            });

        });

    </script>
 }  

<div class="login form-container">
    <fieldset>
        <legend>Prijava postojećih korisnika</legend>
        <div class="row">
            <span class="label">Email:</span><input type="text" name="Email" id="Email" class="required" />
        </div>
        <div class="row">
            <span class="label">Zaporka:</span><input type="password" name="Password" id="Password" class="required" />
        </div>
        <div class="row">
            <span class="label">Zapamti me:</span><input type="checkbox" name="RemeberMe" id="RememberMe" />
        </div>
        <div class="action-bar">
            <input type="submit" id="Login" class="button login" value="Prijava"/>
        </div>
    </fieldset>
                
</div>
            
<div class="register form-container">
    <fieldset>
        <legend>Registracija novih korisnika</legend>
    <div class="row">
        <span class="label">Email(*):</span><input type="text" name="Email" id="Email" class="required" />
    </div>
    <div class="row">
        <span class="label">Zaporka(*):</span><input type="password" name="Password" id="Password" class="required" />
    </div>
    <div class="row">
        <span class="label">Ponovite zaporku(*):</span><input type="password" name="Password2" id="Password2" class="required" />
    </div>
    <div class="row">
        <span class="label">Naziv firme:</span><input type="text" name="CompanyName" id="CompanyName" />
    </div>
    <div class="row">
        <span class="label">Grad:</span><input type="text" name="City" id="City" />
    </div>
    <div class="row">
        <span class="label">Vrsta(*):</span>
        <select id="Type" class="required">
            <option value="">Odaberite vrstu</option>
            <option value="IN">Investitor</option>
            <option value="KO">Konzultant</option>
            <option value="IZ">Izvođač</option>
        </select>
    </div>
    <div class="row">
        <span class="label">Broj zaposlenih:</span>
        <select id="Employees">
            <option value="">Odaberite</option>
            <option value="0-9">0-9</option>
            <option value="10-49">10-49</option>
            <option value="50-249">50-249</option>
            <option value="250+">250 +</option>
        </select>
    </div>
    <div class="row">
        <span class="label">Prihod:</span>
        <select name="Income" id="Income">
            <option value="">Odaberite</option>
            <option value="10">mikro - do 10 Mio EUR</option>
            <option value="50">mala - do 50 Mio EUR</option>
            <option value="250">srednja - do 250 Mio EUR</option>
            <option value="251">velika - od 250 Mio EUR</option>
        </select>
    </div>
    <div class="row">
        <span class="label">Newsletter:</span><input type="checkbox" name="Newsletter" id="Newsletter" />
    </div>
    <div class="action-bar">
        <input type="submit" id="Register" class="button register" value="Registracija"/>
    </div>
    </fieldset>
</div>
            
<div class="clear"></div>

