@{
    ViewBag.Title = "Registracija obavljena";
    Layout = "~/Views/Shared/_SeminarLayout.cshtml";
}

<div class="registration-finished">
    <h2>Hvala vam na registraciji</h2>

    <div class="info">
        <p>Dodatne informacije vezane uz tečaj ćemo vam dostaviti putem vašeg e-maila ili telefona.</p>
        <p>Hvala vam na povjerenju!</p>
    </div>
</div>
